streamlit
streamlit-autorefresh

pandas
numpy
joblib
Pillow
requests

geopy

scikit-learn

beautifulsoup4
lxml

pydantic
pydantic-settings

python-dotenv

textblob

langchain-community
duckduckgo-search

python-jose[cryptography]
passlib[bcrypt]
bcrypt
streamlit-folium
folium