.stTabs [data-baseweb="tab-list"] {
    gap: 20px !important;
    padding: 15px 25px !important;
    background: rgba(255, 255, 255, 0) !important;
    border-radius: 25px !important;
    border: 1px solid rgba(255, 255, 255, 0.055) !important;
    margin-bottom: 35px !important;
    backdrop-filter: blur(10px);
}

.stTabs [data-baseweb="tab"] {
    height: 50px !important;
    background: transparent !important;
    border: none !important;
    color: #0a5e85 !important;
    font-weight: 600 !important;
    font-size: 17px !important;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
    padding: 0 30px !important;
}

.stTabs [data-baseweb="tab"]:hover {
    color: #00fbff !important;
    transform: scale(1.1) translateY(-2px);
    text-shadow: 0 0 10px rgba(5, 188, 192, 0.81);
}

.stTabs [aria-selected="true"] {
    color: #ffffff !important;
    background: rgba(0, 251, 255, 0.051) !important;
    border-radius: 15px !important;
}

.stTabs [aria-selected="true"]::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 15%;
    width: 70%;
    height: 4px;
    background: linear-gradient(90deg, #07bbbe, #05c312);
    border-radius: 20px;
    box-shadow: 0 0 20px #04b2b5, 0 0 40px rgba(2, 71, 72, 0.5);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { opacity: 0.6; transform: scaleX(0.9); }
    50% { opacity: 1; transform: scaleX(1); }
    100% { opacity: 0.6; transform: scaleX(0.9); }
}

.stTabs [data-baseweb="tab-border"] {
    display: none !important;
}

div[data-testid="stMetric"] {
    background: rgba(255, 255, 255, 0.02) !important;
    border: 1px solid rgba(0, 251, 255, 0.1) !important;
    border-left: 4px solid #00fbff !important;
    border-radius: 15px !important;
    transition: 0.3s;
}

div[data-testid="stMetric"]:hover {
    background: rgba(0, 251, 255, 0.05) !important;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.596);
}
.stApp::after {
    content: "";
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: url('https://www.transparenttextures.com/patterns/natural-paper.png');
    opacity: 0.05;
    background-repeat: repeat-x;
    z-index: -1;
}